**/.DS_Store

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars

# deps, build,  and output directories
**/node_modules
**/dist
**/angular
**/.vscode

# env vars 
**/.env



